<h2>Recipes</h2>
<a href="/recipes">Check recipes</a>

<form action="/users" method="POST">
  <label for="name">name</label>
  <input type="text" name="name" id="" />
  <label for="surname">surname</label>
  <input type="text" name="surname" id="" />
  <label for="email">email</label>
  <input type="email" name="email" id="" />
  <button type="submit">Create user</button>
</form>